# HTK Configuration Parameters for live recogniton

TARGETKIND = MFCC_D_A_E
TARGETRATE=100000.0 # frame interval is 10 [msec]
SAVECOMPRESSED=F    # set T, if you like to save disk storage
SAVEWITHCRC=F       
WINDOWSIZE=250000.0 # window length is 25 [msec]
USEHAMMING=T        # use HAMMING window
PREEMCOEF=0.97      # apply highpass filtering
NUMCHANS=24         # # of filterbank for MFCC is 24
NUMCEPS=12          # # of parameters for MFCC presentation
ZMEANSOURCE=T

# Rather local Parameters
ESCALE=1.0
TRACE=0
RAWENERGY=F

#WAV capture configuration
SOURCERATE=625
SOURCEKIND=HAUDIO
SOURCEFORMAT=HTK
ENORMALISE=F
USESILDET=T
MEASURESIL=F
OUTSILWARN=T
